<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391844033242-8rnv6g70a1c6o3hrk2650v788ekdohud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391844033242-8rnv6g70a1c6o3hrk2650v788ekdohud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391844033242-uanti9nrbhts08gqdgp07532qngejem0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHJ3EmtcCdD8o8PMkW6RtiICHaWGkQV_0</string>
	<key>GCM_SENDER_ID</key>
	<string>391844033242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.firmachain.poc</string>
	<key>PROJECT_ID</key>
	<string>firmachain-proof-of-concept</string>
	<key>STORAGE_BUCKET</key>
	<string>firmachain-proof-of-concept.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391844033242:ios:ac211229a6f23cb1</string>
	<key>DATABASE_URL</key>
	<string>https://firmachain-proof-of-concept.firebaseio.com</string>
</dict>
</plist>