
.transition-wrapper {
    position: relative;
    z-index: 1;
}

.transition-wrapper .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.chat-page {
    overflow: auto;
    box-sizing: border-box;
    height: 100vh;
    transition: transform 0.3s, opacity 0.3s;
    background-color: #fff;
}

.chat-page.transition-appear {
    opacity: 1;
    // opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.chat-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.chat-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.chat-page.transition-leave.transition-leave-active {
    opacity: 1;
    // opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.index-page {
    overflow: auto;
    box-sizing: border-box;
    height: 100vh;
    background-color: #fff;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 0, 0);
}

.index-page.transition-appear {
    opacity: 1;
    // opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.index-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.index-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.index-page.transition-leave.transition-leave-active {
    // opacity: 0;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

@media (min-width: 700px) {    
    .index-page{
        transition: transform 0s, opacity 0s;
    }
    .chat-page {
        transition: transform 0s, opacity 0s;
    }    
}
