@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

body{
    padding:0;
    margin: 0;
}
$screen-width: 800px;

.default-page{
    display:flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    
    >div.back-key{
        width: 100%;
        padding: 10px 10px 0 10px;
        box-sizing: border-box;
        >div.round-btn{
            border:1px solid #E0E0E0;
            background-color: #fff;
            width: 35px;
            height: 35px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #3F3F3F;
            cursor: pointer;

            &:hover{
                background-color: #F8F8F8;
            }
        }
    }
    >div.container{
        >h1{
            letter-spacing:4px;
            font-size: 17px;
            margin: 0;
            margin-left: 10px;
        }

        >div.page{
            margin-top: 15px;
            border:1px solid #E0E0E0;
            border-radius: 7px;
            padding: 15px;
            background-color: #fff;
            flex-direction: row;
            display: flex;

            >div.column{
                width: 300px;
            }
            
            div.form-layout{
                div.form-label{
                    color: #808496;
                    font-size: 10px;
                }

                div.form-input{
                    border-bottom: 1px solid #E0E0E0;
                    padding: 10px 0 10px 10px;
                    margin-bottom: 20px;
                    display: flex;

                    >input{
                        border:0;
                        font-size: 12px;
                        flex:1;
                    }

                    >button{
                        border:0;
                        background-color: #fff;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

                div.form-textarea{
                    height: 100px;
                    border: 1px solid #E0E0E0;
                    margin: 10px 0 20px 0;
                }
                
                div.form-warning{
                    font-size: 10px;
                    margin-bottom: 20px;
                    transform: translateY(-10px);
                    color: #989898;
                }

                div.form-submit{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    >button{
                        border:0;
                        background-color: #fff;
                        font-size: 10px;
                        margin: 0 0 0 5px;
                        cursor: pointer;
                    }

                    >button.border{
                        border:1px solid #3D4B5A;
                        border-radius: 5px;
                        padding: 5px 10px;
                        font-size: 12px;

                        &:hover{
                            background-color: E0E0E0;
                        }
                    }
                }
            }
        }
    }
}

.regist-page{
    .step-indicator{
        float:right;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        >.item{
            font-size: 11px;
            font-weight: bold;
            margin: 0 10px;
            color: #ABB7C0;
        }

        >.enable{
            color: #000000;
        }

        >i{
            color: #ABB7C0;
        }
    }

    .masterkey-list{
        font-size: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        position: relative;

        >.masterkey-item{
            margin: 3px;
        }

        >.copy{
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .masterkey-selection-list{
        font-size: 12px;
        display: flex;
        padding: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        >.item{
            margin: 3px;
            padding: 5px 10px;
            color: #3D4B5A;
            border: 1px solid #3D4B5A;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                background-color: #97A4AF;
                color: #000;
            }
        }

        .selected{
            background-color: #3D4B5A;
            color: #fff;
        }

    }

    .right-desc{
        color: #BEBEC3;
        font-size: 12px;
        margin: 0 0 20px 20px
    }
}

.index-page{
    .header-section{
        background-color: rgba(0,0,0,0.5);
        .content{
            width: $screen-width;
            margin:0 auto;

            .top{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                .left-logo{
                    width:130px;
                    height: 40px;
                    background-color: rgba(0,0,0,0.2);
                }
                .right-btns{
                    text-align: right;

                    .language{
                        font-size: 10px;
                        color: #fff;
                        margin: 15px 0;
                    }

                    .buttons{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .whatis{
                            font-size: 13px;
                            color: #fff;
                            margin-right: 30px;
                            font-size: 12px;
                            cursor: pointer;
                        }
                        .login-btn{
                            font-size: 13px;
                            border:1px solid #fff;
                            color: #fff;
                            border-radius: 5px;
                            padding: 7px 13px;
                            font-size: 12px;
                            cursor: pointer;

                            &:hover{
                                background-color: rgba(0,0,0,0.1);
                            }
                        }
                    }
                }
            }

            .desc{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .left{
                    display: flex;
                    flex:1;
                    justify-content: center;
                    align-items: center;
                    >div{
                        >div{
                            font-size: 23px;
                            margin-bottom: 5px;
                            color: #fff;
                            letter-spacing:4px;
                            &:last-child{
                                margin-bottom: 10px;
                            }
                        }
                        >span{
                            font-size: 10px;
                            color: #fff;
                        }
                    }
                }
                .right{
                    margin-left: 100px;
                    .screenshot-img{
                        width: 330px;
                        height: 400px;
                        background-color: rgba(0,0,0,0.2);
                        transform: translateY(30px);
                    }
                }
            }
        }
    }

    .desc-section{
        width: $screen-width;
        margin:0 auto;
        margin-top: 80px;

        .title{
            text-align: center;
            font-size: 25px;
            letter-spacing:6px;
        }
    }
}