@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

body{
    padding:0;
    margin: 0;
}
$screen-width: 800px;
a{
    text-decoration: none;
    &:link {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }
    &:hover {
        color: inherit;
    }
    &:active {
        color: inherit;
    }
}

.default-page{
    display:flex;
    align-items: center;
    flex-direction: column;

    background-color: #F8F8F8;
    height: 100%;
    width: 100%;

    >div.back-key{
        width: 100%;
        padding: 10px 10px 0 10px;
        box-sizing: border-box;
        >div.round-btn{
            border:1px solid #E0E0E0;
            background-color: #fff;
            width: 35px;
            height: 35px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #3F3F3F;
            cursor: pointer;

            &:hover{
                background-color: #F8F8F8;
            }
        }
    }

    >div.container{
        position: relative;

        >h1{
            letter-spacing:4px;
            font-size: 17px;
            margin: 0;
            margin-left: 10px;
            display: inline-block;
        }

        >div.page{
            margin-top: 30px;
            border:1px solid #E0E0E0;
            border-radius: 7px;
            padding: 15px;
            background-color: #fff;
            flex-direction: row;
            display: flex;

            >div.column-300{
                width: 300px;
            }

            >div.column-200{
                width: 200px;
            }

            >div.column-600{
                width: 600px;
            }
            
            div.form-layout{
                div.form-label{
                    color: #808496;
                    font-size: 10px;
                }

                div.form-input{
                    border-bottom: 1px solid #E0E0E0;
                    padding: 10px 0 10px 10px;
                    margin-bottom: 20px;
                    display: flex;

                    >input{
                        border:0;
                        font-size: 12px;
                        flex:1;
                    }

                    >button{
                        border:0;
                        background-color: #fff;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

                div.form-textarea{
                    height: 100px;
                    border: 1px solid #E0E0E0;
                    margin: 10px 0 20px 0;
                }
                
                div.form-warning{
                    font-size: 10px;
                    margin-bottom: 20px;
                    transform: translateY(-10px);
                    color: #989898;
                }

                div.form-button{
                    margin: 10px 0 20px 10px;
                    >button{
                        border:1px solid #3D4B5A;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background-color: #fff;
                        font-size: 12px;
                        margin: 0 0 0 5px;
                        cursor: pointer;
                        &:hover{
                            background-color: E0E0E0;
                        }
                    }
                }

                div.form-submit{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    >button{
                        border:0;
                        background-color: #fff;
                        font-size: 10px;
                        margin: 0 0 0 5px;
                        cursor: pointer;
                    }

                    >button.border{
                        border:1px solid #3D4B5A;
                        border-radius: 5px;
                        padding: 5px 10px;
                        font-size: 12px;

                        &:hover{
                            background-color: E0E0E0;
                        }
                    }
                }
            }
        }
    }
}

.add-template-page{
    .form-button{
        .filename{
            margin: 10px;
            font-size: 12px;
        }

        .del-btn{
            display: inline-block;
            margin-left: 10px;
            padding: 0 5px;
            border-radius: 4px;
            cursor: pointer;
            &:hover{
                background-color: #aaa;
            }
        }
    }

    .right-desc{
        margin-top: 90px;
        font-size: 12px;
        color: #7F7F7F;
    }
}

.regist-page{
    .step-indicator{
        float:right;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        >.item{
            font-size: 11px;
            font-weight: bold;
            margin: 0 10px;
            color: #ABB7C0;
        }

        >.enable{
            color: #000000;
        }

        >i{
            color: #ABB7C0;
        }
    }

    .masterkey-list{
        font-size: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        position: relative;

        >.masterkey-item{
            margin: 3px;
        }

        >.copy{
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .masterkey-selection-list{
        font-size: 12px;
        display: flex;
        padding: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        >.item{
            margin: 3px;
            padding: 5px 10px;
            color: #3D4B5A;
            border: 1px solid #3D4B5A;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                background-color: #97A4AF;
                color: #000;
            }
        }

        .selected{
            background-color: #3D4B5A;
            color: #fff;
        }

    }

    .right-desc{
        color: #BEBEC3;
        font-size: 12px;
        margin: 0 0 20px 20px
    }
}

.display-flex{
    display: flex;
}

table.table{
    width: 100%;
    font-weight: 100;
    border-collapse: collapse;

    th{
        border-bottom: 2px solid #000;
        font-weight: bold;
        color: #BEBEC3;
        font-size: 12px;
        padding: 10px 0 10px 20px;
    }
    td{
        border-bottom: 1px solid #c0c0c0;
        font-weight: 400;
        color: #7F7F7F;
        font-size: 11px;
        text-align: left;
        padding: 15px 0 15px 20px;
    }

    .date-cell{
        padding: 15px 0 15px 20px;
        text-align: center;
        width: 130px;
    }
}

.user-state-bar{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-7px);

    >.login-time-bar{
        display: flex;
        border: 2px solid #3D4B5A;
        border-radius: 3px;
        font-size: 10px;
        padding: 2px 6px;
        font-weight: bold;
        margin-right: 40px;

        >div{
            margin-left:10px;
            &:first-child{
                margin-left:0;
            }
        }
    }

    >.searchbar{
        padding: 5px 10px;
        border:1px solid #E0E0E0;
        border-radius: 5px;
        color: #E0E0E0;
        margin-right: 40px;

        >input{
            border:0;
            background-color: transparent;
            margin-left: 10px;
        }
    }

    >.profile{
        display: flex;
        margin-right: 40px;

        >.info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 10px;

            >.top{
                font-size: 10px;
                color: #8C8880;
            }

            >.bottom{
                margin-top: 3px;
                font-size: 13px;
                font-weight: bold;
            }
        }

        >.pic{
            width: 30px;
            height: 30px;
            border:2px solid #3D4B5A;
            border-radius: 5px;
        }
    }

    >.add-button{
        background-color: #3D4B5A;
        padding: 7px 20px;
        font-size: 13px;
        color: #fff;
        border-radius: 8px;
    }
}

.contract-list-page{
    padding-top: 30px;

    ul.left-menu{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex:1;

        a{
            margin: 8px 0;
            &:first-child{
                margin-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
        

        li.item{
            font-size: 13px;
            font-weight: bold;
            color: #BEBEBE;
            letter-spacing: 1px;
            cursor: pointer;

            &:hover{
                color: #999;
            }

            >i{
                margin-right: 5px;
            }
        }
        li.spacer{
            flex:1;
        }
        li.selected{
            color: #000;
        }
    }

    .page-contents{
        >h1{
            font-weight: bold;
            padding: 0;
            font-size: 18px;
            letter-spacing: 3px;
            margin:10px 0;
        }

        .filter-checkbox{
            display: flex;
            align-items: center;
            margin-top: 30px;
        }
    }

    .right-align{
        margin-top: 20px;
        text-align: right;

        >button{
            border:1px solid #E0E0E0;
            padding: 7px 10px;
            background-color: #fff;
            border-radius: 5px;
            margin-left: 10px;
            color: #210201;
            font-weight: bold;
            cursor: pointer;

            &:hover{
                background-color: #EEE;
            }
        }
        >button.danger{
            background-color: RGB(47, 58, 70);
            color: #fff;
        }
    }
}

.index-page{
    .header-section{
        background-color: rgba(0,0,0,0.5);
        .content{
            width: $screen-width;
            margin:0 auto;

            .top{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                .left-logo{
                    width:130px;
                    height: 40px;
                    background-color: rgba(0,0,0,0.2);
                }
                .right-btns{
                    text-align: right;

                    .language{
                        font-size: 10px;
                        color: #fff;
                        margin: 15px 0;
                    }

                    .buttons{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .whatis{
                            font-size: 13px;
                            color: #fff;
                            margin-right: 30px;
                            font-size: 12px;
                            cursor: pointer;
                        }
                        .login-btn{
                            font-size: 13px;
                            border:1px solid #fff;
                            color: #fff;
                            border-radius: 5px;
                            padding: 7px 13px;
                            font-size: 12px;
                            cursor: pointer;

                            &:hover{
                                background-color: rgba(0,0,0,0.1);
                            }
                        }
                    }
                }
            }

            .desc{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .left{
                    display: flex;
                    flex:1;
                    justify-content: center;
                    align-items: center;
                    >div{
                        >div{
                            font-size: 23px;
                            margin-bottom: 5px;
                            color: #fff;
                            letter-spacing:4px;
                            &:last-child{
                                margin-bottom: 10px;
                            }
                        }
                        >span{
                            font-size: 10px;
                            color: #fff;
                        }
                    }
                }
                .right{
                    margin-left: 100px;
                    .screenshot-img{
                        width: 330px;
                        height: 400px;
                        background-color: rgba(0,0,0,0.2);
                        transform: translateY(30px);
                    }
                }
            }
        }
    }

    .desc-section{
        width: $screen-width;
        margin:0 auto;
        margin-top: 80px;

        .title{
            text-align: center;
            font-size: 25px;
            letter-spacing:6px;
        }
    }
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center !important;
}

.modal-manager{
    >div.modal-container{
        z-index: 100000;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        left:0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0,0,0,0.3);
        opacity: 0;
        transition: all 500ms;
    }
}

div.pager-comp{
    display: flex;
    justify-content: center;
    align-items: center;
    >ul{
        display: flex;
        padding: 0;
        margin: 10px 0;
        >li{
            width: 15px;
            height: 15px;
            margin: 5px;
            padding: 5px;
            list-style: none;
        }
        >li.slot{
            display: flex;
            justify-content: center;
            align-items: center;

            list-style: none;
            font-weight: bold;
            border-radius: 7px;
            font-size: 10px;
            cursor: pointer;

            color: RGB(41, 58, 73);
            &:hover{
                background-color: RGBA(41, 58, 73, 0.5);
            }
            &:active{
                background-color: RGB(41, 58, 73);
                color: #fff;
            }

            >i{
                font-size: 13px;
            }
        }

        >li.active{
            background-color: RGB(41, 58, 73);
            color: #fff;
        }

        >li.chevron{
            color: RGB(173, 173, 173);
        }
    }
}
div.checkbox2-comp{
    cursor: pointer;
    border:2px solid #000;
    border-radius: 3px;
    height: 12px;
    width: 12px;
    overflow: hidden;
    >i{
        font-size: 13px;
        color: #000;
    }
}
div.checkbox-comp{
    display: inline-flex;
    cursor: pointer;
    margin-right: 20px;
    >.radius{
        display: flex;
        justify-content: center;
        align-items: center;

        border:1px solid RGB(105, 105, 114);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-right: 5px;

        >div{
            transition: all 200ms;
            background-color: RGB(105, 105, 114);
            border-radius: 50%;
            width: 0px;
            height: 0px;
        }

        >div.active{
            width: 8px;
            height: 8px;
        }
    }
    >.label{
        color: RGB(105, 105, 114);
        font-size: 12px;
    }
}

.transaction-background-work-comp{
    position: fixed;
    right: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 300px;

    >div.header{
        background-color: RGB(41, 58, 73);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
    }

    >div.content{
        padding: 5px;
        border-left: 1px solid RGBA(41, 58, 73, 0.6);
        border-right: 1px solid RGBA(41, 58, 73, 0.6);
        font-size: 14px;
        >div{
            transition: all 500ms;
            overflow: hidden;

            >div.slot{
                display: flex;
                padding: 10px;
                justify-content: space-between;
                align-items: center;

                >div.slot-info{
                    
                    >div.title{
                        font-weight: bold;
                        font-size: 12px;
                        color: RGB(41, 58, 73)
                    }
                    >div.desc{
                        font-size: 10px;
                        color: RGB(170, 170, 170);
                        margin-top: 5px;
                    }
                }

                >div.progress{
                    display: flex;
                    background-color: RGB(215, 214, 215);
                    border-radius: 10px;
                    width: 70px;
                    >div{
                        height: 7px;
                        background-color: RGB(41, 58, 73);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

.default-modal{
    background-color: #fff;
    border-radius: 5px;
    min-width: 400px;

    >div.contents{
        padding: 10px 30px;

        >div.title{
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            padding: 10px 0;
        }

        >div.msg{
            margin: 15px 0;
            text-align: center;
            font-size: 13px;
            word-break: break-all;
            width: 400px;
            line-height: 1.6;
        }

        >div.select{
            text-align: center;
            select{
                width: 200px;
                font-size: 15px;
                padding: 15px;

                background-color: #fff;
            }
        }

        >div.form-label{
            color: RGB(105, 105, 105);
            font-size: 11px;
            margin: 20px 0 5px 0;
        }

        >div.form-input{
            padding: 10px;
            padding-left: 20px;
            margin-bottom: 20px;
            border-bottom:1px solid rgb(200,200,200);

            >input{
                font-size: 13px;
                border:0;
            }
        }
    }

    >div.buttons{
        display: flex;

        >button{
            flex:1;
            height: 50px;
            border:0;
            background-color: #fff;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;

            &:hover{
                background-color: rgb(220,220,220);
            }
            &:first-child{
                border-bottom-left-radius: 5px;
            }
            &:last-child{
                border-bottom-right-radius: 5px;
            }
        }
    }
}